body {
    /*    padding-top: 50px;*/
    padding-bottom: 20px;
    background-color:;
    color: #3A2F32;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px
}

.nav-br {
    background-color: #8F41FF;
    color: black !important;
    font-family: Dishonorable Mention;
}
.icn{
    width:5px;
    height:5px;
    margin-right:5%;
}

.vlt{
    font-size:25px;
}

.wl-team{
    margin-top:5px;
    width:auto;


   /* filter:blur(3px);*/
}
.wl-img {
    background-color: #151313;
    width: 80%;
    margin-left: 10%;
}



.und_text {
    font-family: 3allamni;
    font-size: 18px;
    margin-left:6%;
    width:88%;
}

.tx-color{
    color:white;
}
.form-navbar-right{
    float:right !important;
    margin-left:auto;
}

.text-white{
    color:black;
}
.us-nav {
    background-color: #FF8241;
    color: black;
    font-family: Dishonorable Mention;
}

.ad-nav {
    background-color: #4D77CA;
    color: gray;
    font-family: Dishonorable Mention;
}

.hp-bg {
    background-image: url(../Image/1920x1080-dark-pastel-purple-solid-color-background.jpg);
    background-size: cover;
}

.ap-bg {
    background-color: white /*#6697F8*/;
    background-size: cover;
}

.up-bg {
    background-color: #CA7A4D;
}



.univ-ic{
    icon:url(../Icons/icon1.png);
    font-size:20px;

}

#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}
